/* brackets */
ZMK_MACRO(macro_bracket; wait-ms = <30>; tap-ms = <40>; bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET>;)
ZMK_MACRO(macro_parenthesis; wait-ms = <30>; tap-ms = <40>; bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS>;)
ZMK_MACRO(macro_arrow; wait-ms = <30>; tap-ms = <40>; bindings = <&kp LESS_THAN &kp GREATER_THAN>;)
ZMK_MACRO(macro_brace; wait-ms = <30>; tap-ms = <40>; bindings = <&kp LEFT_BRACE &kp RIGHT_BRACE>;)

ZMK_MACRO(macro_doubleGrave; wait-ms = <30>; tap-ms = <40>; bindings = <&kp GRAVE &kp GRAVE>;)
ZMK_MACRO(macro_quadQuotes; wait-ms = <30>; tap-ms = <40>; bindings = <&kp DOUBLE_QUOTES &kp DOUBLE_QUOTES>;)
ZMK_MACRO(macro_doubleSingleQuotes; wait-ms = <30>; tap-ms = <40>; bindings = <&kp SINGLE_QUOTE &kp SINGLE_QUOTE>;)

ZMK_MACRO(macro_dw; wait-ms = <30>; tap-ms = <40>; bindings = <&kp LG(BACKSPACE) &kp LC(W)>;)

ZMK_MACRO(macro_power; wait-ms = <30>; tap-ms = <40>; bindings = <&macro_tap_time 1000 &kp C_POWER>;)
